//
   Created by Lars on 10.03.2016.

extends layout

block content
    script(src="/js/charactersheet.js")

    div.col-md-5
        div.races
            h2
                | Races
            each race in characterRaces
                button.race.btn-primary(data-boni="#{JSON.stringify(race.boni)}")
                    | #{race.name}
                    div.detail(style="display:none")
                        img(src="#{race.img}")
                        div.description
                            p
                                | #{race.description}
        div.classes
            h2
                |Classes
            each cc in characterClasses
                button.cc.btn-primary
                    | #{cc.name}
                    div(style="display:none")
                        img(src="#{cc.img}")
                        div.description
                            p
                                | #{cc.description}
    div.attributes.col-md-7
        each attribute in attr.ATTRIBUTES
            div.form-group.attribute
                div.col-md-3
                    label(data-toggle="tooltip" title="#{attribute.tooltip}" data-placement="right")
                        |#{attribute.name}&nbsp;
                        small
                            |(#{attribute.name.substr(0,3)})
                div.col-md-9
                    input(class="form-control attribute-value #{attribute.name.substr(0,3)} basic" type="number"  value=3)
                    input(class="form-control attribute-value #{attribute.name.substr(0,3)} bonus-1" type="number"  value=0 disabled="disabled")
                    input(class="form-control attribute-value final" data-attr="#{attribute.name.substr(0,3)}" type="number"  disabled="disabled")
            br